services:
  techexpress.application:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__DefaultConnection=${CONNECTION_STRING}
      - ConnectionStrings__RedisConnection=distributedcache:6379

      - Email__Smtp__Host=${Email__Smtp__Host}
      - Email__Smtp__Port=${Email__Smtp__Port}
      - Email__Smtp__Username=${Email__Smtp__Username}
      - Email__Smtp__Password=${Email__Smtp__Password}
      - Email__Smtp__From=${Email__Smtp__From}
    depends_on:
      mssql:
        condition: service_healthy
      distributedcache:
        condition: service_healthy
    ports:
      - "5166:8080"
      - "7194:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  distributedcache:
    container_name: distributedcache
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    ports:
      - "6379:6379"
    
  
  mssql:
    container_name: mssql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${DB_PASSWORD}
    ports:
      - "1434:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "timeout 1 bash -c '</dev/tcp/localhost/1433' || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 6s

#Add-Migration Init -StartupProject TechExpress.Application -Project TechExpress.Repository
#Update-Database -StartupProject TechExpress.Application -Project TechExpress.Repository
